server:
  port: 8800

spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/lhv
    username: lhv
    password: lhv
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    open-in-view: false
  liquibase:
    enabled: true
